<%provide :title, "Wale Olaleye Experienced Ruby Developer Consultant"%>

<div class="hero-unit">
	<div class="container">
		<h2>About Me</h2>
	</div>
	<!--close container--> 
</div>
<!--close hero-unit-->

<div class="container clearfix" id="main-content"> 
	
	<!--begin main content-->
	<p class="big">A Business Savy Web Developer</p>
	<div class="row-fluid">
		<div class="span3"> <%= image_tag src='wale.png', class:'aligncenter', alt: 'Wale Olaleye' %>
			<h5>Wale Olaleye</h5>
			<h6><em>Ruby Developer</em></h6>	
			<span class="visuallyhidden" > Akinwale Olaleye </span>
		</div>
		<!--close span4-->
		<div class="span8">
			<p>
				I am a <strong>Experienced Ruby developer</strong> who has been programming since 2000. I worked full time for several years for companies like NASA, IBM, Medecision. In 2012 I decided that freelancing was the best career move for me and my family, and I have not looked back.
			</p>

			<p>
				Having many years of industry experience, I have developed an understanding of software development life cycle, <strong>agile development</strong> and team leadership. I apply these skills to help my clients who usually have not been exposed to such software development techniques. I am effective at communicating, listening to problems, and collaborating to deliver the right solution on time.
			</p>
			<%= render 'layouts/shared/hire_me_button' %>
		</div>
		
	</div>
	<!--close row-fluid -->
	
	<div class="row-fluid">
		<div class="span12">
			<h3 class="short_headline margin-top"><span>my favorite tools</span></h3>

			<div class='span3'>
				<ul class='style-none'>
					<li> <h4> Heroku </h4> </li>
					<li> <h4> Amazon Web Services </h4> </li>
					<li> <h4> Jquery </h4> </li>
					<li> <h4> Rspec </h4> </li>
					<li> <h4> Rails </h4> </li>	
				</ul>
			</div>

			<div class='span3'>
				<ul class='style-none'>
					<li> <h4> Rails </h4> </li>
					<li> <h4> Capybara </h4> </li>
					<li> <h4> Selenium </h4> </li>
					<li> <h4> Factory Girl </h4> </li>
					<li> <h4> D3.js Charts </h4> </li>
				</ul>
			</div>
			
			<div class='span3'>
				<ul class='style-none'>
				  <li> <h4> Node.js </h4> </li>
					<li> <h4> Ruby Debug </h4> </li>
					<li> <h4> Google Analytics </h4> </li>
					<li> <h4> Twitter Bootstrap </h4> </li>
					<li> <h4> Nginx & Passenger </h4> </li>
				</ul>
			</div>

			 <!--ruby , ror,  html5, css3, jquery, rspec, capybara, heroku, java, selenium -->
		</div>	
	</div>
	<!--close row-fluid clientlogos--> 
	
</div>
<!--close .container id="main-content" --> 
