<div class="hero-unit">
	<div class="container">
		<h2>About Me</h2>
	</div>
	<!--close container--> 
</div>
<!--close hero-unit-->

<div class="container clearfix" id="main-content"> 
	
	<!--begin main content-->
	<p class="big">Hire me now to build your next application!</p>
	<div class="row-fluid">
		<div class="span4"> <%= image_tag src='wale.png', class:'aligncenter', alt: 'Wale Olaleye' %>
			<h5>Wale Olaleye</h5>
			<h6><em>Developer</em></h6>
			
			
		</div>
		<!--close span4-->
		<div class="span8" >
			<p>
				I am a <strong>polyglot programmer</strong> with 12 years of software engineering experience. I have worked with world class research institutions, small, mid-sized, and large companies. I am know for delevering high quality software, and for the ability to solve challenging engineering problems.
				
				I am a <strong>polyglot programmer</strong> with 12 years of software engineering experience. I have worked with world class research institutions, small, mid-sized, and large companies. I am know for delevering high quality software, and for the ability to solve challenging engineering problems.

				I am a <strong>polyglot programmer</strong> with 12 years of software engineering experience. I have worked with world class research institutions, small, mid-sized, and large companies. I am know for delevering high quality software, and for the ability to solve challenging engineering problems.
			</p>
			<ul class="social">
				<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
				<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
				<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
				<li><a class="socicon dribbble" href="#" title="dribble"></a></li>
			</ul>
		<div>
		
	</div>
	<!--close row-fluid -->
	
	<div class="row-fluid clientlogos">
		<h3 class="short_headline margin-top"><span>my toolbelt</span></h3>
		<ul class="slides">
			<li><img src="../demo/fakelogo-1.png" alt="" /></li>
			<li><img src="../demo/fakelogo-2.png" alt="" /></li>
			<li><img src="../demo/fakelogo-3.png" alt="" /></li>
			<li><img src="../demo/fakelogo-4.png" alt="" /></li>
			<li><img src="../demo/fakelogo-5.png" alt="" /></li>
			<li><img src="../demo/fakelogo-6.png" alt="" /></li>
			<li><img src="../demo/fakelogo-1.png" alt="" /></li>
			<li><img src="../demo/fakelogo-2.png" alt="" /></li>
			<li><img src="../demo/fakelogo-3.png" alt="" /></li>
			<li><img src="../demo/fakelogo-4.png" alt="" /></li>
		</ul>
	</div>
	<!--close row-fluid clientlogos--> 
	
</div>
<!--close .container id="main-content" --> 