<div id="form">
		  <!--p class="validateTips"><small>All fields are required</small></p-->
		 
		  <form>
			  <fieldset>
				<div class="row-fluid">
						<input type="text" name="first-name" id="first-name" placeholder="First Name" class="" />
				</div>
				<div class="row-fluid">
						<input type="text" name="last-name" id="last-name" placeholder="Last Name" class="" />
				</div>
				<div class="row-fluid">     
					<input type="email" name="email" id="email" placeholder="Email Address" class="" />
				</div>
				<div class="row-fluid">
						<input type="tel" name="tel" id="tel" placeholder="Telephone Number" class="" />
				</div>
				<div class="row-fluid">    
				    <input type="text" name="subject" id="subject" placeholder="Subject" class="" />
				</div>
				<div class="row-fluid"> 
				    <textarea name="message" id="message" rows="10" placeholder="Please describe your project" class="message"></textarea>
				</div>
			  </fieldset>
		  </form>
	</div>