
<div class="container-fluid">
	<h1 class="first center-text">Studio 95</h1>

	<h1 class="second center-text">Unique Web Design</h1>


	<div class="landing button">
		<h2 id="contact-us" class="center-text">Contact Us Now</h2>
	</div>
	


	<div id="dialog-form">
		  <p class="validateTips"><small>All fields are required</small></p>
		 
		  <form>
			  <fieldset>
				<div class="row-fluid">
						<input type="text" name="name" id="name" placeholder="Name..." class="" />
				</div>
				<div class="row-fluid">     
					<input type="email" name="email" id="email" placeholder="Email..." class="" />
				</div>
				<div class="row-fluid">    
				    <input type="text" name="subject" id="subject" placeholder="Subject..." class="" />
				</div>
				<div class="row-fluid"> 
				    <textarea name="message" id="message" rows="10" placeholder="Message..." class="message"></textarea>
				</div>
			  </fieldset>
		  </form>
	</div>
</div>