
<div id="page">			
  	<!-- Begin Slider -->
	<div class="content-slider-wrapper clearfix light"><!--add "light" class for light colored backgrounds -->
		<div class="flexslider content-slider">
			<ul class="slides">
				
				<!--begin slide content inside each li tag-->
				
				<li>
					<div class="img" >
						<div> <%= image_tag("demo/mobile_crisp.png") %> </div>
					</div>
					<div class="caption">
											
						<h2>We are a Philadelphia shop building web sites and apps using Ruby on Rails</h2>
						<p>Ruby on Rails is a rapid application development framework that allows us to model application features and
							respond to customers needs quickly, implement industry standard best practices, and deliver high quality applications that will meet
							your needs now and in the future.</p>
						<p class="more"><a class="btn btn-primary" href="portfolio-single.html">FAQ &rarr;</a></p>
					</div>
				</li>
				<li>
					<div class="">
						<h2>Beat the competition by reducing your time to market</h2>
						<p>Ruby on Rails encourages Convention over Configuration. This means that developers write significantly fewer lines of code when compared to other frameworks. With Rails, it is easier to bring on new developers up to speed, since we all use the same 'Convention'. In addition, application maintenance is faster. Most importantly the time saved results in faster delivery time for our clients.</p>
						<p class="more"><a class="btn btn-primary" href="portfolio-single.html">FAQ &rarr;</a></p>
					</div>
				</li>
				<li>
					<div class="">
						<h2>Custom software elevates your application and your brand</h2>
						<p>In the past it was expensive to build custom applications. This resulted in shrink-wrapped solutions flooding the software market. Differentiate your company from other businesses by building a custom application. We will build scalable and maintianable software with the latest techniques in data collection, processing, visualization, test automation and security.</p>
						<p class="more"><a class="btn btn-primary" href="portfolio-single.html">FAQ &rarr;</a></p>
					</div>
				</li>
				<li>
					<div class="">
						<h2>Agile development helps us put you first</h2>
						<p>We quickly prototype new features with Rails. Clients immediately visualize the results and provide valuable feedback. Not happy? No worries. Rails embraces change, and we have many built in tools that allow us to quickly modify features without pain. We guard software quality and are able to automatically confirm that we have not broken old features while adding new features, because we write code to test your code!</p>
						<p class="more"><a class="btn btn-primary" href="portfolio-single.html">FAQ &rarr;</a></p>
					</div>
				</li>
			</ul>
		</div>
		<!-- end  .flexslider.content-slider --> 
	</div>
	<!-- end  .content-slider-wrapper light-->


    <!-- <div class="landing button">
	  <a href=<%=contact_path%> id="contact-us" class="center-text" >  <h2 >Contact Us Now</h2>   </a>
    </div> -->
	<div class="container clearfix" id="main-content"> 
		<div class="row-fluid center">
			<div class="span3"> <a class="biggieicon" ><i class="icon-dashboard"></i></a>
				<h4 class="border-b">It’s Wonderful</h4>
				<p class="bumpdown">We here at Crisp have proven we know that it is better to e-enable extensibly than to architect seamlessly. If all of this may seem wonderful to you, that's because it is! Our functionality is unparalleled in the industry.</p>
				<p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
			</div>
			<div class="span3"> <a class="biggieicon" ><i class="icon-certificate"></i></a>
				<h4 class="border-b">Sum it up!</h4>
				<p class="bumpdown">We have proven we know that it is better to disintermediate intuitively than to expedite virally. The dot-com, mission-critical structuring factor can be summed up in one word: compelling.</p>
				<p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
			</div>
			<div class="span3"> <a class="biggieicon" ><i class="icon-key"></i></a>
				<h4 class="border-b">Factor the Short Term</h4>
				<p class="bumpdown">The accounting factor is short-term. Our functionality is unmatched, but our transparent models and user-proof configuration is constantly considered a remarkable achievement.</p>
				<p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
			</div>
			<div class="span3"> <a class="biggieicon" ><i class="icon-github"></i></a>
				<h4 class="border-b">User-Centric</h4>
				<p class="bumpdown">Think intra-client-focused. Think viral. Think resource-constrained. Think user-centric. But don't think all three at the same time. The ability to redefine extensibly leads to the ability to incentivize iteravely.</p>
				<p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
			</div>
		</div>
		<span id="sequence"> </span>
		
	</div>

</div>