<%provide :title, "Home"%>

<style>
 .header{
 	margin-bottom: 0;
 }
</style>

<div class="banner clearfix shout light">

	<div class="">
		<div class="hero-unit center no-border">
			<h1>We are a Philadelphia shop building Web Apps using Ruby on Rails</h1>
		</div>
	</div>
</div>

<div class="banner clearfix">
	<h1>Let us build your custom web app</h1>
	<p>Differentiate your company from other businesses by building a custom application. We will build scalable and maintainable software with the latest techniques in data collection, processing, visualization, test automation and security. Custom software elevates your brand above the competition.</p>
</div>

<div class="banner clearfix light">
	<h1>Agile development helps us put you first</h1>
	<p>We quickly prototype new features with Rails. Clients immediately visualize the results and provide valuable feedback. Not happy? No worries. Rails embraces change, and we have many built in tools that allow us to quickly modify features without pain. We guard software quality and are able to automatically confirm that we have not broken old features while adding new features, because we write code to test your code!</p>
</div>

<div class="banner clearfix ">
	<h1>Beat the competition by reducing your time to market</h1>
	<p>Ruby on Rails encourages Convention over Configuration. This means that developers write significantly fewer lines of code when compared to other frameworks. With Rails, it is easier to bring on new developers up to speed, since we all use the same 'Convention'. In addition, application maintenance is faster. Most importantly the time saved results in faster delivery time for our clients.</p>

</div>

	




<!--p>Ruby on Rails is a rapid application development framework that allows us to model application features and
						respond to customers needs quickly, implement industry standard best practices, and deliver high quality applications that will meet
						your needs now and in the future.</p-->

<!-- <div class="landing button">
  <a href=<%=contact_path%> id="contact-us" class="center-text" >  <h2 >Contact Us Now</h2>   </a>
</div> -->


