
<div id="page">
	<div class="hero-unit center no-border">
		<div class="container">


		  <h1 class="second center-text">We are a Philadelphia shop building web sites and apps using Ruby on Rails</h1>


		  <!-- <div class="landing button">
			<a href=<%=contact_path%> id="contact-us" class="center-text" >  <h2 >Contact Us Now</h2>   </a>
		  </div> -->
		</div>
	</div>
</div>