<h1 class="first center-text">Studio 95</h1>

<h1 class="second center-text">Unique Web Design</h1>

<div class="">
	<div class="">
		<h2 id="contact-us" class="center-text">Contact Us Now</h2>
	</div>
</div>


<div id="dialog-form">
	  <p class="validateTips">All form fields are required.</p>
	 
	  <form>
		  <fieldset>
			    
			    <input type="text" name="name" id="name" value="Name..." class="text ui-widget-content ui-corner-all" />
			    
			    <input type="text" name="email" id="email" value="Email..." class="text ui-widget-content ui-corner-all" />
			   
			    <input type="text" name="subject" id="subject" value="Subject..." class="text ui-widget-content ui-corner-all" />
			   
			    <input type="text" name="message" id="message"  value="Message..." class="text ui-widget-content ui-corner-all message" />
		  </fieldset>
	  </form>
</div>