<span class="blog date"> 
    <span class="month"><%= blog.created_at.strftime("%b")%></span> 
    <span class="day"><%= blog.created_at.strftime("%-d")%></span> 
    <span class="year"><%= blog.created_at.strftime("%Y")%></span> 
 </span> 