@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Nosifer|Sarina|Caesar+Dressing|);



$grayDarker: #333333;
$grayLessDarker: #3e3e3e;
$slate: #d9d9d9;
$ash: #5e5e5e;
$formDarkGray: #2f2f2f;



/*
.inputbox, input.required, textarea.required  {
	border:solid 1px #494949;
	color:#656565;
	background:#2f2f2f;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;}
.inputbox:hover, input.required:hover, textarea.required:hover  {	
background:#383838;	border:solid 1px #545454;}
*/

/**** GENERAL STYLES ******/
/* removes scroll bars */
html {
  overflow-y: auto;
  overflow-x: auto; 
}

body {
	background: $black;
	background-attachment: fixed;
	font-size: 100%;
}

.center-text {
   text-align: center;
}


/***** HOME PAGE HEADERS *****/

h1.first {
	color: $white;
	margin-top: 15%;
	font-family: 'Nosifer', cursive;
	font-weight: normal;
	letter-spacing: 4px;

	/*animation-duration: 10s;
	-moz-animation-duration: 10s;
	-webkit-animation-duration: 10s;
	-o-animation-duration: 10s;

	animation-name: slide-down;
	-moz-animation-name: slide-down;
	-webkit-animation-name: slide-down;
	-o-animation-name: slide-down;*/
}

h1.second {
	color: $white;
	margin-top: 10%;
	font-family: 'Sarina', cursive;
	font-weight: normal;

	/*animation-duration: 10s;
	-moz-animation-duration: 10s;
	-webkit-animation-duration: 10s;
	-o-animation-duration: 10s;

	animation-name: slide-up;
	-moz-animation-name: slide-up;
	-webkit-animation-name: slide-up;
	-o-animation-name: slide-up;*/
}

/*** HOME PAGE, BUTTON SIZE AND POSITION ***/ 

.landing {
		
	margin-top: 13%;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	
	/*
	animation-duration: 10s;
	-moz-animation-duration: 10s;
	-webkit-animation-duration: 10s;
	-o-animation-duration: 10s;

	animation-name: contact-us;
	-moz-animation-name: contact-us;
	-webkit-animation-name: contact-us;
	-o-animation-name: contact-us;*/
	
}

/*** CONTACT PAGE, BUTTON SIZE ***/
form button {
	width:100px;
	font-size: 22px;
	border: none;
}

/** BUTTON LOOK & FEEL, ALL PAGES **/
.button, a{
	color: #1b1b1b;
	background-color: $ash;
	font-family: 'Caesar Dressing', cursive;
	text-transform: uppercase;
	

	&:hover{
		background-color: #555555;
		color: #222222;
		cursor: pointer;
		cursor: hand;
		text-decoration: none;
	}
}

.button h2 {
	font-weight: normal;
}

/******** FORM ********/

input[type="text"], input[type="email" ], input[type="tel"], textarea {
	width: 98.5% !important;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	border: solid 1px #494949;
	color: $slate;
	background: $formDarkGray;
	border-radius: 0;
	
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;

 
    &:focus {
		border-color: rgba(255, 255, 255, 0.8);
		outline: 0;
		outline: thin solid \9;
		/* IE6-9 */
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    }
}

input[type="text"], input[type="email" ], input[type="tel"] {	
	height: 23px;
}


/** FORM PLACE HOLDERS **/

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: $slate; 
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $slate; 
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: $slate;
}

/***** FORM POSITION *****/

form {
	width: 70%;
	margin-right: auto;
	margin-left: auto;

	height: 60%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/**** FORM ERRORS ****/
.field_with_errors {
   @extend .control-group;
   @extend .error
}




.logo-top-down {
	position: absolute;
	left: 6.5%;
	top: 18%;
}

header p {
	font-family: 'Nosifer', cursive;
	font-weight: normal;
	letter-spacing: 4px;
	font-size: 20px;
	color: $formDarkGray;
	
	transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	
	&:hover {
		cursor: pointer;
		cursor: hand;
		text-decoration: none;
		color: $slate;
	}
}


/** KEYFRAMES **/
@keyframes slide-down {
	from { margin-top: -5%; }
	to { margin-top: 15%; }
	50% { color: $black }
}
@-moz-keyframes slide-down {
	from { margin-top: -5%; }
	to { margin-top: 15%; }
	50% { color: $black }
}
@-webkit-keyframes slide-down {
	from { margin-top: -5%; }
	to { margin-top: 15%; }
	50% { color: $black }
}
@-o-keyframes slide-down {
	from { margin-top: -5%; }
	to { margin-top: 15%; }
	50% { color: $black }
}

@keyframes slide-up {
	from { margin-top: 70%; }
	to { margin-top: 10%; }
	60% { color: $black }
}
@-moz-keyframes slide-up {
	from { margin-top: 70%; }
	to { margin-top: 10%; }
	60% { color: $black }
}
@-webkit-keyframes slide-up {
	from { margin-top: 70%; }
	to { margin-top: 10%; }
	60% { color: $black }
}
@-o-keyframes slide-up {
	from { margin-top: 70%; }
	to { margin-top: 10%; }
	60% { color: $black }
}



@keyframes contact-us {
	from {
		color: $black; /*text color*/
		border-top-color: $black;
		//border-bottom-color: $black;
	}

	to {
		color: $grayDarker;
		border-top-color: $grayDarker;
		//border-bottom-color: $grayDarker;
	}

	100% { 
		color: $black; 
		border-top-color: $black;
		//border-bottom-color: $black; 
	}
}
@-moz-keyframes contact-us {
	from {
		color: $black; /*text color*/
		border-top-color: $black;
		border-bottom-color: $black;
	}

	to {
		color: $grayDarker;
		border-top-color: $grayDarker;
		border-bottom-color: $grayDarker;
	}

	100% { 
		color: $black; 
		border-top-color: $black;
		border-bottom-color: $black; 
	}
}
@-webkit-keyframes contact-us {
	from {
		color: $black; /*text color*/
		border-top-color: $black;
		border-bottom-color: $black;
	}

	to {
		color: $grayDarker;
		border-top-color: $grayDarker;
		border-bottom-color: $grayDarker;
	}

	100% { 
		color: $black; 
		border-top-color: $black;
		border-bottom-color: $black; 
	}
}
@-o-keyframes contact-us {
	from {
		color: $black; /*text color*/
		border-top-color: $black;
		border-bottom-color: $black;
	}

	to {
		color: $grayDarker;
		border-top-color: $grayDarker;
		border-bottom-color: $grayDarker;
	}

	100% { 
		color: $black; 
		border-top-color: $black;
		border-bottom-color: $black; 
	}
}

