@import "bootstrap";
@import "bootstrap-responsive";

html {
  overflow-y: hidden;
  overflow-x: hidden; 
}

body {
	background: $black;
	background-attachment: fixed;
}

.center-text {
   text-align: center;
}

h1.first {

	color: $white;
	margin-top: 15%;
	animation-duration: 10s;
	animation-name: slide-down;
	
}

h1.second {
	color: $white;
	margin-top: 10%;
	animation-duration: 10s;
	animation-name: slide-up;
}

h1.third {
	float: right;
	text-align: center;
	margin-top: -25%;
	margin-right: 5%;
	animation-duration: 20s;
	animation-name: slide-left;
}

@keyframes slide-down {

	from {
		margin-top: -5%;
	}

	to {
		margin-top: 15%;
	}

	50% { color: $black }
	
}

@keyframes slide-up {
	from {
		margin-top: 70%;
	}

	to {
		margin-top: 10%;
	}

	60% { color: $black }
}

@keyframes slide-left {
	from {
		margin-right: -5%;
		margin-top: -25% 
	}

	to {
		margin-right: 5%;
		margin-top: -25%
	}
}
