
.banner.light {
    background: #fcf8e5; 
}
.banner.light.shout {
	padding: 10% 7% 3% 7%;
}
.banner{
	position: relative;
    clear: both;
    margin: 0;
    padding: 2% 60px 0 60px; 
    background: #dfcea1;
    padding: 5% 7% 5% 7%;
}
.banner p {
	font-size: 120%;
}

.no-bullet {
	list-style-type: none;
}

.list {
	li{
		padding: .5%;
		font-size: 125%
	}
}


@media only screen and (min-width: 980px) {
	.banner p { font-size: 120%; }
}
@media only screen and (min-width: 1100px) {
	.banner p { font-size: 130%; }
}
@media only screen and (max-width: 767px) {
	.banner p { font-size: 100%; }
}

@media only screen and (max-width: 500px) {
	.banner .hero-unit h1 { font-size: 24px; }
	.banner h1 { font-size: 145%; }
	.banner p { font-size: 100%; }
}